<div class="card" style="width: 18rem;">
    <img src="../../../../assets/images/TS.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Tourette Syndrome</h5><p>Tourette syndrome (TS) is a neurological disorder characterized by sudden, repetitive, rapid, and unwanted movements or vocal sounds called tics. TS is one of a group of disorders of the developing nervous system called tic disorders.</p>
      <a href="https://www.ninds.nih.gov/Disorders/Patient-Caregiver-Education/Fact-Sheets/Tourette-Syndrome-Fact-Sheet" class="btn btn-primary">More Information</a>
    </div>
  </div>
  <router-outlet></router-outlet>